$container-margin: 15px;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro');

* {
  box-sizing: border-box;
}

body {
  color: #1D1D1D;
  font-family: Lato, sans-serif;
}

strong {
  font-weight: bold;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  padding: 0 $container-margin;
}

.content.custom {
  width: 100%;
}

/* Header */
header {
  border-bottom: 1px solid #F3F3F3;
  padding: 10px 15px;
}

header .container {
  padding: 0;
}

header .logo {
  height: 25px;
}

header .menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

header .menu-item {
  color: #B0B0B0;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  text-decoration: none;
}

header .menu-item.router-link-active {
  color: #1D1D1D;
}

/* General content */
main {
  margin: 0 auto;
  line-height: 1.5;
  max-width: 700px;
  width: 100%;
}

main.container {
  padding-bottom: 15px;
}

main a {
  color: #79bb24;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main h1,
main h2,
main h3 {
  font-weight: 700;
  margin-bottom: 0.5em;
}

main h1 {
  margin: 10px 0 15px;
  font-size: 32px;
}

main h2 {
  font-size: 26px;
}

main h3 {
  font-size: 22px;
}

main p {
  margin-bottom: 1em;
}

main code {
  background: #F9FAF8;
  border-radius: 3px;
  font-family: 'Source Code Pro', monospace;
  padding: .2rem .4rem;
}

main pre {
  margin-bottom: 1em;
  margin-left: -$container-margin;
  margin-right: -$container-margin;
}

main pre code {
  overflow: auto;
  display: block;
  padding: 10px $container-margin;
}

main table {
  width: 100%;
}

main th {
  font-weight: 700;
  text-align: left;
}

main th,
main td {
  padding: .2em .5em;
}

.centered {
  text-align: center;
}

/* Date bar */
.date-bar {
  border-bottom: 1px solid #F3F3F3;
  display: flex;
  font-size: 14px;
  margin-left: -$container-margin;
  margin-right: -$container-margin;
}

.date-bar .date-picker-button {
  align-items: center;
  border-right: 1px solid #F3F3F3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 50px;
}

.date-bar .date-picker-button img {
  width: 16px;
}

.date-bar .date-navigation {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-left: 10px;
  padding-right: 30px;
}

.date-bar .link-wrapper {
  display: flex;
  max-width: 300px;
  width: 100%;
}

.date-bar .date {
  color: #B0B0B0;
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}

.date-bar .date.current-date {
  color: #1D1D1D;
  cursor: auto;
}

/* Events */
.events {
  flex-direction: column;
  padding: 20px 0;
}

.events .event {
  background-color: #FAF9F5;
  border-top: 4px solid #FCDA5A;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 15px $container-margin;
}

/* Default yellow for `.events .event.vastgota-nation` */

.events .event.helsingkrona-nation {
  /* Mint */
  border-top-color: #18AE90;
  background-color: #F5FAF9;
}

.events .event.goteborgs-nation {
  /* Red */
  border-top-color: #CB2C43;
  background-color: #FAF5F6;
}

.events .event.blekingska-nationen {
  /* Purple */
  border-top-color: #944eb1;
  background-color: #F9F5FA;
}

.events .event.hallands-nation {
  /* Pink */
  border-top-color: #e17bb6;
  background-color: #FAF5F8;
}

.events .event.lunds-nation {
  /* Orange/sunflower */
  border-top-color: #f2b010;
  background-color: #FAF9F5;
}

.events .event.malmo-nation {
  /* Green */
  border-top-color: #2abd68;
  background-color: #F5FAF7;
}

.events .event.kalmar-nation {
  /* Low red */
  border-top-color: #F26248;
  background-color: #FAF6F5;
}

.events .event.wermlands-nation {
  /* Brown */
  border-top-color: #b29877;
  background-color: #FAF8F5;
}

.events .event.sydskanska-nationen {
  /* Dark blue */
  border-top-color: #5079F1;
  background-color: #F5F7FA;
}

.events .event.ostgota-nation {
  /* Green */
  border-top-color: #A7E15A;
  background-color: #F8FAF5;
}

.events .event .content {
  padding-right: 30px;
  position: relative;
}

.events .event .header {
  color: #000;
  font-size: 14px;
  opacity: 0.3;
}

.events .event .title {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  opacity: 0.8;
}

.events .event .plus {
  height: 20px;
  position: absolute;
  margin-top: -10px;
  opacity: 0.1;
  right: 0;
  top: 50%;
  width: 20px;
}

.events .event .plus:before {
  content: '';
  background: #000;
  height: 2px;
  position: absolute;
  top: 9px;
  width: 100%;
}

.events .event .plus:after {
  content: '';
  background: #000;
  height: 100%;
  left: 9px;
  position: absolute;
  width: 2px;
}

.events .event.open .plus:after {
  display: none;
}

.events .event .description {
  font-size: 14px;
  height: 0;
  line-height: 1.3;
  opacity: 0.8;
  overflow: hidden;
  white-space: pre-wrap;
}

.events .event.open .description {
  height: auto;
}

.events .event .description p {
  padding-top: 20px;
}

/* Media queries */
@media screen and (min-width: 730px) {
  header {
    padding: 15px;
  }

  header .logo {
    height: 35px;
  }

  header .menu-item {
    font-size: 16px;
    padding: 10px 15px;
  }

  .date-bar .date-navigation {
    padding-right: 70px;
  }

  .date-bar .date-picker-button {
    border-left: 1px solid #F3F3F3;
    width: 60px;
  }

  .date-bar .date-picker-button img {
    width: 20px;
  }

  .date-bar .date {
    font-size: 18px;
    padding: 15px 0;
  }

  .events {
    padding: 20px 0;
    margin-left: -$container-margin;
    margin-right: -$container-margin;
  }
}
